.fd-array-splice { 
	min-width: 340px;
}

.fd-array-splice-floating-element {
	float: left;
	margin-left: 10px;
}

#fd-array-splice-removed {
	
}

#fd-array-splice-input {

}

#fd-array-splice-updated {

}
