#widget-container {
	position: absolute;
	top: 30px;
}

#context-editor {
	left: 10px;
	right: 30px;
}

#type-field {
	margin-left: 20px;
}

#visualization-container {
	margin-left: 20px;
}

.study-editor {
	background-color: #ffffff;
}

select {
	font-size: 10px;
	height: 22px;
}
.fd-line-with-selector {
	background-color: #00ffff;	
}

.fd-highlight {
	background-color: #ff0000;
}

.fd-selector {
	position: absolute;
	z-index: 999;
}

.fd-selector button {
	margin-top: -3px;
	border: none;
	width: 16px;
	height: 15px;

	background-color: #90beff;
}

.fd-selector .caret {
	margin-top: 4px;
	margin-left: -2px;
}

.fd-selector-highlight {
	background-color: #bfdaff;
}

.fd-current-line-object-highlight {
	background-color: #C19AFF;
}

.fd-current-line-assigned-to-highlight {
	background-color: #9AF6FF;
}

.fd-current-line-param-highlight {
	border: dotted;
}